@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header section styles  */

body{
    /* width: 90%; */
    margin: 0px auto;
   
}

header{
    margin: 32px auto;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left , right bottom;
    color: rgba(255, 248, 243, 1);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* margin: 32px 10%; */
    padding: 0px 150px;
    
}

.nav-title{
    font-size: 45px;
    font-weight: bolder;
    color: rgba(24, 24, 24, 1);
}

.txt-color{
    color: rgba(253, 110, 10, 1);
}

.nav-items{
    display: flex;
    gap: 20px;
}

.nav-list{
    display: flex;
    gap: 20px;
}

.nav-item{
    list-style-type: none;
    font-size: 20px;
    color: #474747;
}


.nav-btn{
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(253, 110, 10, 1);
    padding: 18px 32px;
    
    /* border: none; */
    border-radius: 5px;
    color: white;
   
}

a{
    text-decoration: none;
}




/* banner section styles  */

.banner{
    display: flex;
    justify-content: space-between;
    padding: 0px 35px 0px 150px;
}

.banner-greet{
    color: rgba(71, 71, 71, 1);
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.banner-name{
    color: #181818;
    font-size: 85px;
    font-weight: 800;
    margin: 0;
}

.banner-description{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
}

.banner-btn-1{
    margin: 19px 17px;
}
.banner-btn{
    border: 2px solid rgba(253, 110, 10, 1);
    color: rgba(253, 110, 10, 1);
    font-size: 20px;
    font-weight: bold;
    padding: 19px 24px;
    margin-left: 30px;
    border-radius: 10px;
}




/* about me  */

#about-me{
    max-width: 827px;
    margin: 131px auto;
}

.about-me{
    color: #181818;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
}
.about-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
}

.about-details{
    display: flex;
    justify-content: center;
    gap: 50px;
}


.about-title{
    font-size: 20px;
    color: rgba(117, 117, 117, 1);
    text-align: center;
}

.about-name{
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
    font-weight: 800;
    text-align: center;
}

